
$cardWidth: 120px;

.hand {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: #c8c592;
    overflow-y: auto;
    &__tab {
        width: 300px;
        position: relative;
        top: -37px;
    }
    &__top-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: -50px;
        position: relative;
    }
	&__metrics {
        font-size: 40px;
        position: absolute;
        top: 105px;
        left: 100px;
        color: rgb(207, 207, 207);
        font-family: $splash, Arial;
    }
    &__clear {
        font-size: 18px;
        font-family: $kiwi, Arial;
        border: 1px black solid;
        border-radius: 30px;
        padding: 8px 25px;
        background-color: white;
        height: fit-content;
        position: relative;
        top: 50px;
        right: 30px;
        cursor: pointer;
        &:active {
            background-color: black;
            color: white;
        }
    }
	&__points {}
	&__cards-amount {}
	&__cards-allowed {}

    &__card-wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 75%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 40px 20px;
        margin-bottom: 30px;
    }

    &__card {
        width: $cardWidth;
        height: 180px;
        background: white;
        overflow: hidden;
        position: relative;
        border-radius: 5%;
        box-shadow: -8px 8px #242735c4;
        &-name {
            display: inline-block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            max-width: $cardWidth;
            white-space: wrap;
            font-family: $kiwi;
            font-weight: 600;
            z-index: 2;
        }

        &-power {
            position: absolute;
            // padding: 5px;
            width: 35px;
            height: 35px;
            background-color: #784726;
            color: white;
            left: 5px;
            top: 5px;
            border-radius: 50%;
            text-align: center;
            line-height: 35px;
            z-index: 2;
            font-family: $kiwi;
        }
        &-color {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 40%;
            background-color: transparent;
            &_army {
                background-color: grey;
            }
            &_artifact {
                background-color: orange;
            }
            &_beast {
                background-color: green;
            }
            &_flame {
                background-color: orangered;
            }
            &_flood {
                background-color: blue;
            }
            &_land {
                background-color: brown;
            }
            &_leader {
                background-color: purple;
            }
            &_weapon {
                background-color: lightgray;
            }
            &_weather {
                background-color: lightblue;
            }
            &_wild {
                background-color: transparent;
            }
            &_wizard {
                background-color: violet;
            }
        }
        &-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 30px;
            font-size: 12px;
            font-family: $kiwi;
            background-color: #784726;
            color: white;
            border-radius: 5%;

        }
    }
}