


.hand {
    flex-grow: 1;
    &__top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
	&__metrics {
        font-size: 40px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: grey;
        
    }
    &__clear {
        font-size: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border: 1px black solid;
        border-radius: 30px;
        padding: 8px 25px;
        background-color: white;
        cursor: pointer;
        &:active {
            background-color: black;
            color: white;
        }
    }
	&__points {}
	&__cards-amount {}
	&__cards-allowed {}

    &__card {
        border: 2px black solid;
        border-radius: 30px;
        padding: 15px 30px;
        min-width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &-name {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            color: black;
        }

        &-power {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            background-color: grey;
            padding: 5px;
            border-radius: 50%;
        }
        &-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 15px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border: 1px black solid;
            border-radius: 30px;
            padding: 6px 15px;
            background-color: white;
            cursor: pointer;
            &:active {
                background-color: black;
                color: white;
            }
        }
    }
}